<!doctype html>
<html>
<head>
<!--<meta charset="utf-8">-->
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Menu</title>
	
<link href="css/layout.css" rel="stylesheet"/>
	
</head>

<body>
<!-- page heading -->
<h1>Menu 
	<nav>
		<!-- links to each page-->
		<ul>
			<li><a href="/">Homepage</a></li>
			<li><a href="orderpage">Order</a></li>
			<li><a href="menu">Menu</a></li>
			<li><a herf="">Account</a></li>
		</ul>
	
	</nav>
</h1>

<sql:setDataSource
        var="coffeeShop"
        driver="com.mysql.cj.jdbc.Driver"
        url="jdbc:mysql://cmpe172project.csphsmqqlsak.us-west-1.rds.amazonaws.com:3306/coffeeshop"
        user="admin" password="Lovinggod1314+"
    />
     
    <sql:query var="orderHistory"   dataSource="${coffeeShop}">
        SELECT * FROM coffeeOrder WHERE id = '*current user ID*';
    </sql:query>
     
    <div align="center">
        <table border="1" cellpadding="5">
            <caption><h2>List of users</h2></caption>
            <tr>
                <th>Order Number</th>
                <th>Drink Name</th>
                <th>Size</th>
                <th>Temperature</th>
                <th>Milk</th>
                <th>Topping</th>
                <th>Price</th>
            </tr>
            <c:forEach var="order" items="${orderHistory.rows}">
                <tr>
                    <td><c:out value="${order.order_number}" /></td>
                    <td><c:out value="${order.drink_name}" /></td>
                    <td><c:out value="${order.size}" /></td>
                    <td><c:out value="${order.temperature}" /></td>
                    <td><c:out value="${order.milk}" /></td>
                    <td><c:out value="${order.topping}" /></td>
                    <td><c:out value="${order.price}" /></td>
                </tr>
            </c:forEach>
        </table>
    </div>
	
<footer>
	<h3>
		We hope you visit us, and get some coffee!
		
		<h2>
		Phone: (012)123-4567
		</h2>
	</h3>
	
</footer>
</body>
</html>
